<VirtualHost *:80>
    DocumentRoot /var/www/html

    <Directory "{{ apache_portal_path }}">
        AuthType Basic
        AuthName "Corporate Portal"
        AuthUserFile {{ apache_htpasswd_file }}
        Require valid-user
    </Directory>
</VirtualHost>

# VirtualHost cho internal-portal.corp.local (Level 4 — DNS Spoofing target)
<VirtualHost *:80>
    ServerName internal-portal.corp.local
    DocumentRoot /var/www/internal-portal

    <Directory "/var/www/internal-portal">
        Require all granted
    </Directory>
</VirtualHost>